[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "streamsampler"]
	path = streamsampler
	url = https://github.com/kyle-hurley/streamsampler
